{% load static %}
<html>
    <head>
        <title>
            Home </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand text-white" href="/index">Music Art Society</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        
                      </ul>
                      
                        <!-- Left links -->
                        <button type="button" class="btn btn-white text-white me-3"><a class="text-white" href="/signin/">
                            Login </a>
                        </button>
                        <button type="button" class="btn btn-white  me-3">
                           <a class="text-white" href="/signup"> Sign up </a>
                          </button>
                          
                        </div>
                      </div>
        
              </div>
          </nav>
  
          {% block content %}
          {% endblock %}
          <script src="{%static 'js/jquery-1.11.2.min.js' %}"></script>
          <script src="{%static 'js/bootstrap.min.js' %}"></script>
       </body>
  </html>
                        
                   